<strong>Olá {{ organizer }}</strong>
<p>\o/ Houve uma nova inscrição no seu Meetup {{ meetup }}! \o/ 
  Logo abaixo estão os dados do inscrito:</p>

  <p>
    <strong>Nome: </strong> {{ user }} <br />
    <strong>E-mail: </strong> {{ email }} <br />
  </p>